@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Our aim is to provide quality second hand kids clothes at
    affordable prices, we know kids grow quickly and that can be expensive.
    We also know that the clothes they grow out of still have plenty of live in them.
    In this cash strapped economy we could all do with a few hand me downs to save some money,
    and that is where we come in. We came up with the idea of a second hand clothes shop online to
    sell nearly new, second hand baby and kids clothes.
</p>
<p>
    <strong>
        We post items across the whole of the UK starting from as little as £3.95 or you can collect
        the items directly from us if you would like.
    </strong>
</p>

