@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About Our Clothes";
}
<h1>@ViewData["Title"].</h1>
<h3>@ViewData["Message"]</h3>


<h3>About our clothes</h3>

<p>
    All the clothes we sell are in good clean condition. There are no marks, stains, rips or tears. We do not sell anything we would not be prepared let our children wear. Our clothes have been graded on a scale of 1-4 to give you an idea of the condition.   The condition of the clothes has been reflected in the price.
    <ol>
       <li>Brand New with tags</li> 
        <li>Very good condition</li>
        <li>Good condition</li>
    </ol>
   
    Maybe signs of fading bobbling etc.
    The majority of the clothes are 1-2.

    All clothes have been washed in non-bio powder & sensitive fabric conditioner.

    If you have any questions please use the ‘contact us’ form.
</p>