@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewData["Title"] = "FAQs";
}
<h1>@ViewData["Title"].</h1>
<h3>@ViewData["Message"]</h3>

<h3>Frequently asked questions</h3>
<h4><strong>Can items be posted</strong></h4>
We are happy to post items but only with in the UK.

<h4><strong>How do I pay?</strong></h4>
We prefer cash on collection but are happy to accept Paypal. Please select your preferred method on checkout.

<h4><strong>Where are you based?</strong></h4>
We are based in Belfast

<h4><strong>Do you have a shop?</strong></h4>
Not currently but maybe in the future.

<h4><strong>How often are clothes added?</strong></h4>
Currently added daily.