@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Ordering and Delivery";
}
<h1>@ViewData["Title"].</h1>
<h3>@ViewData["Message"]</h3>

<h3>UK Postage</h3>
<p>We post items using our standard rate. £3.95 for standard parcel and £4.95 for Recorded Parcel delivery. 
    We send all our parcels by either Royal Mail or a Courier service and we recommend using recorded delivery, but
    you are free to choose. If you choose not to have it recorded, in the unlikely event that it gets lost in the post,
    we can only claim when 15 working days (3 weeks) have passed since the item was due to be delivered.</p>

<h3>Returns policy</h3>
<p>Please check on delivery that you are happy with the items. Items are to be returned at your own cost unless as a result of our error.</p>